<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원조회</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
function getCustomer(){
	
	var reqData = new Object();
	reqData = setReqData();
	
	$('#requestjsondata').val(JSON.stringify(reqData, null, 4));
	
    $.ajax({	        
        url : '/getcustomer',
        type : 'POST',
        contentType : 'application/json; charset=UTF-8',
        data : JSON.stringify(reqData),
        success : function(data){
        	$('#responsejsondata').val(JSON.stringify(data, null, 4));
        }
    });
}
// 요청 데이터 생성
function setReqData() {
	var reqData = new Object();
	var commonData = new Object();
	var bizData = new Object();
	
	// 공통헤더 및 input값 입력
	commonData.GUID = getGuid();
	commonData.PRGNO = '1';
	commonData.TRXDATETIME = getCurrentTime();
	commonData.REQUESTTYPE = 'S';
	commonData.RESPONSETYPE = null;
	
	// 데이터부 조립
	bizData.CUSTOMERID=$('[name=form] #inputVal').val();
	
	reqData.COMMONDATA = commonData;
	reqData.BIZDATA = bizData;
	
	return reqData;
}

// GUID 생성 <날짜 + 시간 + 업무코드 + 변수(7자리)> (31자리)
function getGuid(){
	var today = new Date();
	
	var milliseconds = ('0' + today.getMilliseconds()).slice(-3);
	
	var serviceName = 'FWBIZCM';
	return getCurrentTime() + milliseconds + serviceName + getRandNum(1000000, 9999999);
}

//Random 값 생성
 function getRandNum(min, max) {
	  min = Math.ceil(min);
	  max = Math.floor(max);
	  return Math.floor(Math.random() * (max - min + 1) + min);
	}
 
//호출 시간 생성
function getCurrentTime(){
	var today = new Date();
	
	var year = today.getFullYear();
	var month = ('0' + (today.getMonth() + 1)).slice(-2);
	var day = ('0' + today.getDate()).slice(-2);
	var hours = ('0' + today.getHours()).slice(-2); 
	var minutes = ('0' + today.getMinutes()).slice(-2);
	var seconds = ('0' + today.getSeconds()).slice(-2);
	
	return year + month + day + hours + minutes + seconds;
}
</script>

</head>

<body>
<div class="c1">
    <h1>회원정보조회</h1>
        <form id="form" name='form' onsubmit="return false">
		    <p>회원번호 : <input type="text" name="inputVal" id="inputVal" value = "20001"/></p>
		    <button id="selectbt" onclick="getCustomer()">조회</button>
		</form>
		</div>
		
		<br/>
		<h2>ReqData</h2>
		<p><textarea id="requestjsondata" rows="20" cols="100"></textarea></p>
		<br/>
		
		<h2>ResData</h2>
		<p><textarea id="responsejsondata" rows="20" cols="100"></textarea></p>
        <p>
        <a href="/">HOME</a>
        </p>
</body>
</html>